---
import { getCollection } from 'astro:content';


import Layout from '~layouts/Layout.astro';

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
	const posts = await getCollection('posts');

	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
---

<Layout>
	<div class="l-box">
		<a href="/" style="display: block; margin-bottom: 12px">Back home</a>
		<h1>{post.data.title}</h1>
		<p>{post.data.body}</p>
	</div>
</Layout>
